<div class="card{{#if isFemale}} card--female{{/if}}">
    {{log "Example " cardNum " card"}}
    <header class="card__header">
        <h2 class="card__title">{{company}}</h2>
        {{log "...company added"}}
    </header>
    <article class="card__content">
        <p>{{about}}</p>
        {{log "...about added"}}
    </article>
</div>